*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html
{
	font-size:100%;
}

body
{
	-webkit-font-smoothing:antialiased;
	color:#333332;
	font-family:Lora, serif;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
}

.skill-set li:hover
{
	background:#db7934;
}

h1
{
	color:rgba(0,0,0,.75);
}

.wrapper
{
	height:100%;
}

.left
{
	background-color:rgba(0,0,0,.025);
	border-right:1px solid rgba(0,0,0,.05);
	float:right;
	height:100%;
	margin-left:-1px;
	min-width:256px;
	position:fixed;
	width:33.33%;

}

.right
{
	float:right;
	height:100%;
	position:relative;
	width:66.66%;
}


.name-hero
{
	background:rgba(0,0,0,.001);
	bottom:0;
	height:290px;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	width:85%;
}

.me-img
{
	background:url(../cv/img/avatar.jpg) no-repeat center center ;
	background-size:100%;
  background-position:0px;
	border-radius:100%;
	height:150px;
	margin:0 auto;
	position:relative;
	width:150px;
}

.black b {
  color: black;
}

.name-hero h1
{
	font-family:Roboto, sans-serif;
	font-size:1.5em;
	text-align:center;
}

.name-hero h1 em
{
	color:rgba(0,0,0,.5);
	font-style:normal;
	font-weight:700;
}

.name-hero p
{
	color:rgba(0,0,0,.75);
	font-size:.9em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}

.name-hero .name-text
{
	margin:0 auto;
	width:85%;
}

.name-hero .name-text ul.socials {
	list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    justify-content: center;
}
.name-hero .name-text ul.socials li {
	width: auto;
}
.name-hero .name-text ul.socials li a {
	color: rgba(0,0,0,.75);
    display: block;
    height: 22px;
}
.name-hero .name-text ul.socials li a:hover {
	opacity: .8;
}
.name-hero .name-text ul.socials li a svg {
	width: 100%;
	height: 100%;
}

.inner
{
	margin:0 auto;
	max-width:975px;
	padding:3em;
}

.inner h1
{
	font-size:1.75em;
	font-family: Roboto, serif;
}

.inner p
{
	color:rgba(0,0,0,.65);
}

.inner p em
{
	color:rgba(0,0,0,1);
	font-style:normal;
}

.inner section
{
	margin:100px auto;
}

ul
{
	list-style-type:none;
	margin-top:-10px;
	max-width:570px;
	padding:0;
}

.skill-set li
{
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}

ul.experience {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  display: block;
}
ul.experience li {
  width: 100%;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.024);
  padding: 0 20px;
  margin: 0 0 16px 0;
}
ul.experience li:nth-child(2n) {
  background: rgba(0, 0, 0, 0.0);
}
ul.experience li div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
ul.experience li div h4 {
	color: rgba(0,0,0,1);
}
ul.experience li div h4 em {
	color: rgba(0,0,0,.6);
	margin-left: 10px;
    border-left: 2px solid rgba(0,0,0,0.25);
    padding-left: 10px;
}
ul.experience li div img {
	height: 20px;
	max-width: 100px;
	margin: 0 0 0 12px;
}
ul.experience li div div {
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: space-between;
	align-items: center;
}
ul.experience li div div img {
	height: 20px;
	max-width: 100px;
	margin: 0 12px 0 0;
}
ul.experience li div div img:last-of-type {
	margin-right: 0;
	margin-left: 0;
}
ul.experience li ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: disc;
}
ul.experience li ul li {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0 0 0 0px;
  margin: 0 0 0 1.2em;
}
ul.experience li ul li:first-of-type {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.experience li ul li:nth-child(2n) {
  background: transparent;
}
ul.experience li ul li::marker {
	font-size: .75em;
}

@media (min-width: 320px) and (max-width: 1023px) {
	.left {
		height: auto;
		width: 100%;
		display: flex;
		float: unset;
    	position: unset;
	}
	.left .name-hero {
		background: rgba(0,0,0,.001);
		padding: 2em;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		zoom: 1.5;
		flex-flow: row;
		position: unset;
		right: unset;
		bottom: unset;
	}
	.left .name-hero .me-img {
		background-position: 0px;
		border-radius: 100%;
		height: 180px;
		width: 180px;
		background-size: cover;
	}
	.left .name-hero .name-text {
		margin: 0 0 0 2em;
    	width: auto;
	}
	.left .name-hero h1 {
		text-align: left;
	}
	.left .name-hero p {
		text-align: left;
	}
	.name-hero .name-text ul.socials {
		justify-content: flex-start;
	}
	.right {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		float: unset;
    	position: unset;
	}
	.right .inner {
		padding: 2em;
		zoom: 1.5;
	}
	.right .inner section:first-of-type {
		margin: 0;
	}
}
	

::-webkit-scrollbar {
	width: 10px;
	background: rgb(240, 240, 240);
}

::-webkit-scrollbar-track {
	border-radius: 00px;
}

::-webkit-scrollbar-thumb {
	background: rgb(175, 175, 175);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(138, 138, 138);
}


@media screen and (max-width: 48em) {
	.right,.left
	{
		float:none;
    position:relative !important;
		width:100%;
    min-height:500px;
	}
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}

@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}

@media screen and (max-width: 60em) {
    body
{ font-size:14px;}
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.handmade {
  text-align:right;
  margin-top:100px;
}